<mat-list cdkScrollable role="list">
    <ng-container *ngIf="vm$ | async as vm">
        <mat-list-item role="listitem" *ngFor="let relatedTopic of vm?.data">
            <ng-container
                *ngIf="(relatedTopic?.attributes | credentialAttributeValue:'entity_status') === 'HIS' else link">
                <span>{{ relatedTopic?.names[0]?.text }}</span>
                <span>&nbsp;</span>
                <span>({{ relatedTopic?.attributes | credentialAttributeTag:'entity_status' | translate }})</span>
            </ng-container>
            <ng-template #link>
                <a [routerLink]="['/topics', relatedTopic?.source_id]">{{ relatedTopic?.names[0]?.text }}</a>
            </ng-template>
        </mat-list-item>
        <mat-list-item *ngIf="vm?.loading" class="loading">
            <mat-spinner [diameter]=24></mat-spinner>
            <span>Loading...</span>
        </mat-list-item>
    </ng-container>
</mat-list>