:host {
    display: block;
    width: 100%;
    max-width: 960px;
}

mat-form-field {
    width: 100%;
}

mat-spinner[matPrefix] {
    margin: 0rem 0.25rem;
}

mat-icon[matPrefix] {
    margin: 0rem 0.25rem;
}