<div class="back">
    <a [routerLink]="'/search'">Back to Search</a>
</div> 

<ng-container *ngIf="vm$ | async as vm">
    <mat-progress-bar *ngIf="vm?.loading else loaded" mode="indeterminate"></mat-progress-bar>
    <ng-template #loaded>
        <mat-accordion multi>
            <ob-topic-panel-main [topic]="vm?.topic"></ob-topic-panel-main>
            <ob-topic-panel-credentials [credential]="vm?.credential"></ob-topic-panel-credentials>
            <!-- <ob-topic-panel-relationships [relationships]="vm?.relationships"></ob-topic-panel-relationships> -->
        </mat-accordion>
    </ng-template>
</ng-container>