<mat-card>
    <p>Organization Name Not Found. Try searching again?</p>
    <!-- <p class="mb-0">
        If you are already registered but can't find your name, you can still complete this form.
        Information on registering a business can be found on the
        <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies"
        target="_blank">BC Government website under "Businesses and Incorporated Companies"</a>.
    </p> -->
</mat-card>