:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-spinner {
        margin: 0rem 0.25rem;
    }
}