/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a5a96;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #ffffff;
  --ifm-navbar-link-active-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-footer-link-hover-color: #ffffff;
  --ifm-footer-link-active-color: #ffffff;
}

.navbar, .navbar-sidebar__brand {
  background-color: #003366;
}

.navbar__toggle {
  color: #ffffff;
}

