<mat-form-field class="search" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text" #search name="search" id="search" [placeholder]="placeholder"
        (input)="autocomplete(search?.value)" matInput [matAutocomplete]="auto" [(ngModel)]="search.value">
    <button *ngIf="search?.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="search.value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let entry of autocompleteList" [value]="entry.value">
        {{ entry?.value }}
    </mat-option>
</mat-autocomplete>
<ob-search-help-card></ob-search-help-card>