<ng-container *ngIf="vm$ | async as vm">
    <mat-progress-bar *ngIf="vm?.verifying" mode="indeterminate"></mat-progress-bar>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <mat-card-title>
                    {{ vm?.credential?.credential_type?.description | credentialTypeTag | translate }}
                </mat-card-title>
                <mat-icon *ngIf="!vm?.verifying && vm?.verified" class="verified">verified</mat-icon>
            </div>
            <div class="verification">
                <div *ngIf="!vm?.verifying && vm?.verified">
                    <span>&nbsp;Verified&nbsp;</span>
                    <small><a style="text-decoration: underline; cursor: pointer;"
                            (click)="openDialog(vm?.verified)">(see details)</a></small>
                </div>
            </div>
            <div class="content">
                <div>
                    <small>
                        <span>Effective since:&nbsp;</span>
                        <span>{{ vm?.credential?.effective_date | date }}</span>
                    </small>
                </div>
                <div>
                    <small>
                        <span>Last updated:&nbsp;</span>
                        <span>{{ vm?.credential?.update_timestamp | date }}</span>
                    </small>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer *ngIf="vm?.credential?.credential_type?.issuer as issuer">
            <div class="issuer">
                <small>Issued by:&nbsp;</small>
                <span class="logo" *ngIf="issuer?.has_logo">
                    <img [src]="getLogoUrl(issuer?.id)" title="Issuer Logo">
                </span>
                <small>
                    <a [href]="issuer?.url">{{ issuer?.name }}</a>
                </small>
            </div>
        </mat-card-footer>
    </mat-card>
</ng-container>