.header, .verification {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    mat-card-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    mat-spinner, mat-icon.verified {
        margin: 0.25rem;
    }
    mat-icon.verified {
        color: green;
    }
}

.content, .issuer {
    margin-left: 0.25rem;
}

.issuer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.logo img {
    width: auto;
    height: 1rem;
    margin: 0.25rem;
    vertical-align: middle;
}