<mat-card *ngIf="vm$ | async as vm">
    <mat-card-content>
        <div class="header">
            <mat-spinner *ngIf="vm?.verifying" [diameter]="24"></mat-spinner>
            <mat-icon *ngIf="!vm?.verifying && vm?.verified" class="verified">verified</mat-icon>
            <mat-card-title>{{ vm?.credential?.credential_type?.description | translate }}</mat-card-title>
        </div>
        <div class="verification">
            <div *ngIf="vm?.verifying" class="in-progress">
                <span>&nbsp;Verifying...&nbsp;</span>
            </div>
            <div *ngIf="!vm?.verifying && vm?.verified" class="complete">
                <span>&nbsp;Verified&nbsp;</span>
                <small><a href="">(see details)</a></small>
            </div>
        </div>
        <div class="content">
            <div>
                <small>
                    <span>Effective since:&nbsp;</span>
                    <span>{{ vm?.credential?.effective_date | date }}</span>
                </small>
            </div>
            <div>
                <small>
                    <span>Last updated:&nbsp;</span>
                    <span>{{ vm?.credential?.update_timestamp | date }}</span>
                </small>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="vm?.credential?.credential_type?.issuer as issuer">
        <div class="issuer">
            <small>Issued by:&nbsp;</small>
            <span class="logo" *ngIf="issuer?.has_logo">
                <img [src]="getLogoUrl(issuer?.id)" title="Issuer Logo">
            </span>
            <small>
                <a [href]="issuer?.url">{{ issuer?.name }}</a>
            </small>
        </div>
    </mat-card-footer>
</mat-card>